.root {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: rgba($color: #000000, $alpha: 0.5);

  .content {
    margin: 20px auto;
    width: 480px;
    background-color: white;
    border-radius: 4px;
    box-shadow: 1px 1px 10px rgba($color: #000000, $alpha: 0.15);
    position: relative;
  }

  .close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 24px;
    height: 24px;
    cursor: pointer;
  }
}
