.item {
  padding: 1rem;
  margin-bottom: 0.125rem;
  cursor: pointer;
  transition: all 250ms ease;
  text-align: center;
  display: flex;
  align-items: center;
  background-color: #dde1e6;

  .title {
    font-size: 1rem;
    line-height: 1.5rem;
    color: #000;
    margin-left: 1rem;
  }

  &:hover {
    background-color: #a9adb1;
  }

  .icon {
    width: 24px;
    height: 24px;
  }
}

.radius {
  border-radius: 4px;
}
