.item {
  padding: 8px 12px;
  font-weight: 600;
  cursor: pointer;
  transition: all 250ms ease;
  text-align: center;

  .title {
    font-size: 13px;
    color: #444;
  }

  &:hover .title {
    color: #f95192;
  }

  .icon {
    width: 32px;
    height: 32px;
  }
}

.radius {
  border-radius: 4px;
}
